[Unit]
Description=Yarn start/stop
After=hdfs.service
Requires=hdfs.service

[Service]
User=alexdziena
Group=alexdziena
Type=forking
ExecStart=/home/alexdziena/hadoop/sbin/start-yarn.sh
ExecStop=/home/alexdziena/hadoop/sbin/stop-yarn.sh
RemainAfterExit=yes
PIDFile=/tmp/yarn-alexdziena-nodemanager.pid
WorkingDirectory=/home/alexdziena/hadoop
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=HADOOP_HOME=/home/alexdziena/hadoop
TimeoutStartSec=2min


[Install]
WantedBy=multi-user.target
